@font-face {
	font-family: 'Folio Light';
	src: url('../fonts/Folio-Light.otf');
}

@font-face {
	font-family: 'Folio Medium';
	src: url('../fonts/Folio-Medium.otf');
}

@font-face {
	font-family: 'Majesti Banner Book';
	src: url('../fonts/Majesti-Banner-Book.otf');
}

@font-face {
	font-family: 'Majesti Banner Light';
	src: url('../fonts/Majesti-Banner-Light.otf');
}